%html
  %head
    %title
      CMS UI
    = stylesheet_link_tag "/stylesheets/lib/redactor.css"
    = stylesheet_link_tag "/stylesheets/cms.css"
    = yield_content :styles
    %style#template{type: "text/css"}
    %style#custom{type: "text/css"}

  %body
    = yield

    = javascript_include_tag "/javascripts/cms.js"
    = yield_content :scripts
